@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #010101; /* The deep void */
  color: white;
  overflow-x: hidden;
  overscroll-behavior-y: none; /* Stops the bouncy scroll on Macs/Phones */
}